name: COAI Monitor

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Monitor OI
        run: curl -s https://coaidashboard.netlify.app/.netlify/functions/monitor-oi
      
      - name: Monitor Withdrawals
        run: curl -s https://coaidashboard.netlify.app/.netlify/functions/monitor-withdrawals
